.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

}

.heading1 {
    margin: 20px 75px;
    font-family: "Sofia", sans-serif;
}

.charts {
    display: flex;
    justify-content: left;
    margin-bottom: 5%;
    background-color: rgb(245, 245, 245);
    width: 596px;
    border: 3px solid rgb(161, 156, 224);
    border-radius: 15px;
    padding: 50px;
    margin: 20px;

}

.heading2 {
    margin: 20px 50px;
    font-family: "Sofia", sans-serif;
}

.piecharts {
    display: flex;
    justify-content: left;
    margin-bottom: 5%;
    background-color:  rgb(245, 245, 245);
    width: 480px;
    border: 3px solid rgb(161, 156, 224);
    padding: 50px;
    margin: 20px;
    position: absolute;
    left :58%;
    top: 77%;
   align-items: center;
}

.heading3 {
    margin: 20px 50px;
    font-family: "Sofia", sans-serif;
}

.Linecharts {
    display: flex;
    justify-content: left;
    margin-bottom: 5%;
    background-color:  rgb(245, 245, 245);
    width: 596px;
    border: 3px solid rgb(161, 156, 224);
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
}
.heading4{
    margin: 20px 50px;
    font-family: "Sofia", sans-serif;
}
.pie-chart{
    display: flex;
    align-items: center;
}